<div id="pmmeber" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/pmmeber/pmmeber.less</em>, <em>assets/js/pages/pacs/pmmeber/pmmeber.page.js</em>, and <em>api/controllers/pacs/pmmeber/view-pmmeber.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
