<div id="study" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/study/study.less</em>, <em>assets/js/pages/pacs/study/study.page.js</em>, and <em>api/controllers/pacs/study/view-study.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
