<div id="pdicom" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/pdicom/pdicom.less</em>, <em>assets/js/pages/pacs/pdicom/pdicom.page.js</em>, and <em>api/controllers/pacs/pdicom/view-pdicom.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
