<div id="project" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/project/project.less</em>, <em>assets/js/pages/pacs/project/project.page.js</em>, and <em>api/controllers/pacs/project/view-project.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
