<div id="tag" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/tag/tag.less</em>, <em>assets/js/pages/pacs/tag/tag.page.js</em>, and <em>api/controllers/pacs/tag/view-tag.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
