<div id="series" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/series/series.less</em>, <em>assets/js/pages/pacs/series/series.page.js</em>, and <em>api/controllers/pacs/series/view-series.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
