<div id="report" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/report/report.less</em>, <em>assets/js/pages/pacs/report/report.page.js</em>, and <em>api/controllers/pacs/report/view-report.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
