<div id="annotation" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/pacs/annotation/annotation.less</em>, <em>assets/js/pages/pacs/annotation/annotation.page.js</em>, and <em>api/controllers/pacs/annotation/view-annotation.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
